/* Normalize */
@import url(../vendor/normalize.css);
/* Fonts */
@import url(../vendor/fonts.css);

.button {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.link {
  text-decoration: none;
  color: #FFF4EB;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 5rem;
  font-size: 'Satoshi', fallbackFontName;
  word-wrap: break-word;
}

text {
  margin: 0;
  padding: 0;
  font-size: 'Satoshi', fallbackFontName;
  line-height: 1.5;
  font-weight: 400;
}

.header {
  background-color: black;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2), -3px -3px 5px rgba(255, 255, 255, 0.1);
  min-height: 75vh;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background.png);
  animation: pulsate 3s infinite alternate;
}

.header__texts {
  text-align: center;
  width: 90%;
}

.header__title {
  font-family: 'Angel Rhapsody', fallbackFontName;
  color: #FFF4EB;
}

.header__text {
  font-size: 1.5rem;
  color: #FFF4EB;
  text-align: left;
}

.header__title_dark {
  color: #DB9F6A;
}

.header__button {
  text-align: center;
  width: 100%;
  background-color: #DB9F6A;
  border-style: none;
  padding: 1rem 0;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.header__image {
  display: none;
  max-width: 50%;
  margin-bottom: -4px;
  animation: desaturate 3s infinite alternate;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .header__texts {
    gap: 3rem;
    max-width: 60%;
  }

  .header__title {
    font-size: 9rem;
    font-weight: 100;
  }

  .header__button {
    display: flex;
    align-self: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 65rem) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 75vh;
  }

  .header__container {
    min-height: none;
  }


  .header__texts__container {
    margin: 15% 10% 20% 15%;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    min-height: auto;
  }

  .header__texts {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 45%;
  }

  .header__title {
    font-size: 8rem;
    text-align: left;
    font-weight: 100;
  }

  .header__text {
    text-align: left;
    max-width: 30rem;
  }

  .header__button {
    display: flex;
    align-self: flex-start;
    max-width: 30rem;
    justify-content: center;
  }

  .header__image {
    display: block;
    max-width: none;
  }

}

@keyframes pulsate {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 101% 101%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes desaturate {

  0%,
  100% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(15%);
  }
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1C17;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(219, 159, 106, 0.5), 0 4px 8px rgba(219, 159, 106, 0.5);
  background-image: url(../images/background.png);
}

.article__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article__title {
  color: #DB9F6A;
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

.article__subtitle {
  font-size: 2.25rem;
  color: #FFF4EB;
  font-size: 2rem;
  max-width: 100%;
}

.article__text {
  color: #FFF4EB;
  text-align: justify;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.article__grafics {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  background-color: #2A2722;
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.article__image {
  display: none;
}

@media screen and (min-width: 65rem) {
  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article__grafics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
  }

  .article__container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .article__content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .barchart__container {
    min-width: 30rem;
    max-width: 37.5rem;
  }

  .article__text {
    max-width: 50%;
    font-size: 1.5rem;
  }

  .article__subtitle {
    font-size: 2rem;
  }

  .article__title {
    font-size: 5rem;
  }

  .article_content_image {
    display: flex;
    flex-direction: row;
  }

  .article__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }

  .article__image {
    display: flex;
  }

  .article__grafic {
    max-width: 46%;
  }

  .article__grafics {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    min-width: 48rem;
  }

  .article_grafic_first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article__containers {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .barchart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10rem;
  }

  .chart__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .chart__contents {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
  }

  .chart__containers {
    max-width: 40rem;
  }

  .article_final {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.logo {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-top: 3%;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(42, 39, 34, 0.8);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.navbar__button {
  border: none;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar__button:hover {
  transform: scale(1.1);
}

.navbar__content {
  display: none;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  box-shadow: 0 -4px 8px rgba(219, 159, 106, 0.5), 0 4px 8px rgba(219, 159, 106, 0.5);
}

.footer__text {
  font-size: 2rem;
}

.navbar__content {
  display: none;
}

.navbar__link {
  text-decoration: none;
  color: #FFF4EB;
  column-gap: 1rem;
  list-style-type: none;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.navbar__link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 48rem) {
  .navbar__button {
    display: none;
  }

  .navbar__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.popup {
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 999;
}

.popup__container {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2A2722;
  opacity: 0.9;
  min-width: 17.5rem;
  padding: 2rem 0;
  border-radius: 1rem;
}

.popup__close {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.popup__links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0;
}

.popup__button {
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}

.popup__button:hover {
  transform: scale(1.1);
}

.popup__text {
  font-size: 2rem;
  color: #FFF4EB;
  margin: 0;
  padding: 0;
}

.test {
  display: flex;
  flex-direction: column;
}