.header {
  background-color: black;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2), -3px -3px 5px rgba(255, 255, 255, 0.1);
  min-height: 75vh;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-image: url(../../images/background.png);
  animation: pulsate 3s infinite alternate;
}

.header__texts {
  text-align: center;
  width: 90%;
}

.header__title {
  font-family: 'Angel Rhapsody', fallbackFontName;
  color: #FFF4EB;
}

.header__text {
  font-size: 1.5rem;
  color: #FFF4EB;
  text-align: left;
}

.header__title_dark {
  color: #DB9F6A;
}

.header__button {
  text-align: center;
  width: 100%;
  background-color: #DB9F6A;
  border-style: none;
  padding: 1rem 0;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.header__image {
  display: none;
  max-width: 50%;
  margin-bottom: -4px;
  animation: desaturate 3s infinite alternate;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .header__texts {
    gap: 3rem;
    max-width: 60%;
  }

  .header__title {
    font-size: 9rem;
    font-weight: 100;
  }

  .header__button {
    display: flex;
    align-self: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 65rem) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 75vh;
  }

  .header__container {
    min-height: none;
  }


  .header__texts__container {
    margin: 15% 10% 20% 15%;
  }

  .header__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    min-height: auto;
  }

  .header__texts {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 45%;
  }

  .header__title {
    font-size: 8rem;
    text-align: left;
    font-weight: 100;
  }

  .header__text {
    text-align: left;
    max-width: 30rem;
  }

  .header__button {
    display: flex;
    align-self: flex-start;
    max-width: 30rem;
    justify-content: center;
  }

  .header__image {
    display: block;
    max-width: none;
  }

}

@keyframes pulsate {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 101% 101%;
  }

  100% {
    background-size: 100% 100%;
  }
}

@keyframes desaturate {

  0%,
  100% {
    filter: grayscale(0%);
  }

  50% {
    filter: grayscale(15%);
  }
}